// Palette

$redColor: #f13a59;
$redDarkColor: #d32d4a;
$whiteColor: #ffffff;
$lightGreyColor: #f6f7f8;
$mediumGreyColor: #757575;
$darkColor: #2e3e48;
$darkGreyColor: #353e48;
$coolGreyLightColor: #e4e9ed;
$coolGreyMediumColor: #979fa4;


