<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WeWork Meetupator{% endblock %}</title>
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
